VERCEL_TOKEN=vcp_4FHPJHC3S8MAPizCusxsGF4fr711G5lXpLZf1U2tq4MnDyScrJ4SIInv
VERCEL_ORG_ID=team_XbGstsMdwJfUA0rGW6UBPllV
VERCEL_PROJECT_ID=prj_RVFhOe2FgIvhG8lS9Exnxz4734aR
OPENROUTER_API_KEY=your_key_here
X402_PAYER_PRIVATE_KEY=0xa65ea57974b852eebf9d1ea9eadedc80abfc80e8ac25d1d44d5ef61256d3c28a
X402_PAYEE=0xbf2de1074f82a6cf37d5134694e7315956ae6d3f
AGENT_WALLET_PRIVATE_KEY=0xa65ea57974b852eebf9d1ea9eadedc80abfc80e8ac25d1d44d5ef61256d3c28a
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp2dHpod2VhdGllc2pha2xzZWxnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTEyMjcwOCwiZXhwIjoyMDkwNjk4NzA4fQ.F206OoCgl2KfngbAsyc-98aYfSjgSTWddr4l-Ji2niw
THIRDWEB_CLIENT_ID=aacf015108e7e4c06c82f1392c545b9e
THIRDWEB_SECRET_KEY=Ds1tLgG91lODJ-8sql0fM7HFMFwgV59vAjR6FwTQh7HeWho-yh_OklPVrI6F56oH0nSOUcJiCB7zU9hSs2L4wA
